.primary-btn {
  border: 0;
  font-size: 16px;
  background-color: $cuukin;
  color: $white;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  font-weight: 500;
  padding: 10px 15px;
  display: inline-block;
  margin: 4px 0;
  cursor: pointer;
  transition: box-shadow .2s ease-in-out;

  &:hover, &:active {
    font-weight: 500;
    color: $white;
    -webkit-box-shadow:inset 0px 0px 0px 3px $dark-red;
    -moz-box-shadow:inset 0px 0px 0px 3px $dark-red;
    box-shadow:inset 0px 0px 0px 3px $dark-red;
  }
}

.turquise-bg {
  background-color: $turquise !important;

  &:hover, &:active {
    -webkit-box-shadow:inset 0px 0px 0px 3px $dark-turquise !important;
    -moz-box-shadow:inset 0px 0px 0px 3px $dark-turquise !important;
    box-shadow:inset 0px 0px 0px 3px $dark-turquise !important;
  }
}

.turquise {
  color: $turquise !important;
}

.disabled-btn {
  font-size: 16px;
  background-color: $gray;
  color: $light-gray;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  font-weight: 500;
  padding: 10px 15px;
  display: inline-block;
  margin: 4px 0;
  cursor: pointer;

  &:hover, &:active {
    font-weight: 500;
    background-color: $gray;
    color: $light-gray;
  }
}

.secondary-btn {
  font-size: 16px;
  background-color: transparent;
  -webkit-box-shadow:inset 0px 0px 0px 1px #707070;
  -moz-box-shadow:inset 0px 0px 0px 1px #707070;
  box-shadow:inset 0px 0px 0px 1px #707070;
  // border: 1px solid $black;
  color: $black;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  font-weight: 500;
  padding: 10px 15px;
  display: inline-block;
  margin: 4px 0;
  transition: box-shadow .2s ease-in-out;
  cursor: pointer;

  &:hover, &:active {
    font-weight: 500;
  color: $black;
  -webkit-box-shadow:inset 0px 0px 0px 3px #707070;
  -moz-box-shadow:inset 0px 0px 0px 3px #707070;
  box-shadow:inset 0px 0px 0px 3px #707070;
  }
}

.tag-btn {
  font-size: 16px;
  display: inline-block;
  background-color: $gray;
  color: $white;
  text-align: center;
  padding: 4px 10px;
  border-radius: 3px;
  //margin: 16px 0;
  cursor: pointer;
  align-self: flex-end;
}

.follow-btn {
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding: 8px 12px;
  border-radius: 8px;
  color: $cuukin;
  -webkit-box-shadow:inset 0px 0px 0px 1px $cuukin;
  -moz-box-shadow:inset 0px 0px 0px 1px $cuukin;
  box-shadow:inset 0px 0px 0px 1px $cuukin;
  cursor: pointer;
  font-weight: 400;
  transition: box-shadow .2s ease-in-out;

  &:hover, &:active {
    font-weight: 400;
    -webkit-box-shadow:inset 0px 0px 0px 2px $cuukin;
    -moz-box-shadow:inset 0px 0px 0px 2px $cuukin;
    box-shadow:inset 0px 0px 0px 2px $cuukin;
  }
}

.hide-post-btn {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: 500;

  img {
    height: 20px;
    margin-right: 4px;
  }

  p {
    margin: 0;
    color: $black;
  }

  &:hover, &:active {
    font-weight: 500;
  }
}

.a-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-btn {
  margin-top: 20px;
  text-align: center;
  color: $cuukin;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid $cuukin;
  cursor: pointer;

  &:hover, &:focus {
    color: $cuukin;
    font-weight: 500;
    opacity: .7;
  }
}

.btn-open-feedback {
  height: 48px;
  width: auto;
  cursor: pointer;
  position: fixed;
  // right: 24px;
  right: 80px;
  bottom: 88px;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(150, 150, 150, 0));
  filter: drop-shadow( 1px 3px 8px rgba(0, 0, 0, .20));
  z-index: 200;
}

// .journey-feedback {
//   right: 80px !important;
// }
