<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
  <style>
    h1, h2, h3 {
      font-family: 'Nunito', sans-serif;
      color: #F86464;
    }
  </style>
</head>

<body>
  <h1>You're almost there!</h1>
  <p>Let's cook more so you can reach your weekly goal.</p>
</body>
