<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
</head>

<body>
  <div style="background-color: #EDEDED; width: 100%; height: 100%; padding: 50px 0;">
    <div style="padding: 32px 32px; background-color: #FFFFFF; width: 75%; margin: auto;">
      <h1 style="color: #F86464; font-size: 24px; font-weight: 800; margin-bottom: 1em; font-family: 'Nunito', sans-serif; text-align: center;">It's time to make something delicious!</h1>
      <img src="https://images.unsplash.com/photo-1617093727343-374698b1b08d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" style="width: 80%; text-align: center; margin: 0 auto 24px; display: block;">
      <p style="font-family: sans-serif; text-align: center; font-size: 16px; color: #000000;">Hey, <%= @user.first_name %></p>
      <p style="font-family: sans-serif; text-align: center; font-size: 16px; color: #000000;">You're almost there on your weekly goal!</p>
      <a href="https://cuukin.herokuapp.com/" style="color: #F86464; font-family: sans-serif; font-size: 16px; text-decoration: none; text-align: center; display: block;">Let's get you Cuukin</a>
      <p style="font-family: sans-serif; text-align: center; font-size: 16px; color: #000000;">xoxo,<br>
      Kin</p>
    </div>
  </div>
</body>
