.container-center-pages {
  width: 100%;
  height: 100%;
  text-align: center;

  h1 {
    color: $cuukin;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 1.5em;
  }

  .construction-img {
    width: 340px;
    margin-bottom: 40px;
  }
}

.center-pages-content {
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
  position: absolute;
  padding: 8px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 11px;
    width: 11px;
    margin: 0 4px 0 0;
  }

  p {
    margin: 0;
    font-size: 10px;
    color: $dark-gray;
  }
}

@media (max-width: 340px) {
  /* For a screen < 540px, this CSS will be read */
  .container-center-pages {
    .construction-img {
      width: 240px;
    }
  }
}

@media (max-width: 240px) {
  /* For a screen < 540px, this CSS will be read */
  .container-center-pages {
    .construction-img {
      width: 140px;
    }
  }
}
