.home-carousel-container {
  min-height: 100vh;
  width: 500px;
  margin: auto;
  overflow: hidden;
  background-color: $white;
  box-shadow: 1px 1px 8px rgba(30,30,30,0.1);
  padding: 16px 0 40px;
}

.home-carousel-item {
  display: none;
  padding: 0 16px;
}

.home-carousel-item, .home-first-item {
  width: 100%;
  text-align: center;
  margin: 0 auto;

  h2 {
    color: $dark-red;
    font-weight: 800;
    margin-bottom: 16px;
    font-size: 24px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }
}

.carousel-img-0 {
  width: 280px;
  margin: 32px 0 40px;
}

.carousel-img-1 {
  width: 240px;
  margin: 30px 0 40px;
}

.carousel-item-2-heading {
  margin: 48px 0;
  //padding: 0 16px;
}

.home-carousel-item-content {
  margin: 0 auto 24px;
}

#firstItem {
  max-width: 300px;
}

.content-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;

  h3 {
    margin: 0;
    color: $dark-red;
    font-size: 90px;
    font-weight: 800;
    opacity: .1;
    position: relative;
    left: 24px;
    z-index: 1;
  }
  p {
    margin: 0;
    max-width: 220px;
    z-index: 3;
    span {
      font-weight: 600;
    }
  }
  img {
    flex-grow: 2;
    position: relative;
    right: 16px;
    z-index: 1;
  }
}

// buttons and progress bar

.carousel-primary-btns {
  padding: 0 16px;
  margin-top: 40px;
}

.home-carousel-nav {
  display: none;

  .nextBtn {
    height: 64px;
    display: block;
    margin: 0 auto 24px;
    cursor: pointer;
  }

  #finishCarouselBtn {
    display: none;
  }

  .home-progress-bar {
    width: 38px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .circle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: $cuukin;
  }

  .circle-disabled {
    opacity: 0.4;
  }
}

.home-btn-back {
  margin-left: 16px;
  z-index: 10;
  cursor: pointer;
  height: 42px;
  position: fixed;
  display: none;
}

@media (max-width: 500px) {
  /* For a screen < 720px, this CSS will be read */
  .home-carousel-container, .home-carousel-item {
    width: 100vw;
  }
}

@media (max-width: 400px) {
  /* For a screen < 540px, this CSS will be read */
  .home-carousel-container, .home-carousel-item {
    width: 100vw;
  }
}
