<div class="body-white-bg" id="termsOfService">
  <div class="form-devise register-devise">
    <%= image_tag('btn-back.svg', class: 'btn-back') %>
    <div class="terms-service-content">
      <h1>Terms & Conditions</h1>

      <br>

      <p>
        Cuukin respects your privacy and is committed to protecting your personal data. This privacy notice will inform you as to how we look after your personal data when you visit our website, our branded pages on social media, our mobile apps available in the iOS & Google Play UK stores, and any of the other sites, services, features, content, applications and products we offer in the United Kingdom (“UK”)(collectively, the “Services”). This policy informs you about your privacy rights and how UK law protects you.
      </p>

      <p>
        It is important that you read this privacy notice with any other privacy notice or fair processing notice we may provide on specific occasions when we are collecting or processing personal data about you so that you are fully aware of how and why we are using your data.
      </p>

      <p>
        By using our Site and Services, you are accepting the terms of service and privacy policy within the account sign up process. You acknowledge and agree to the collection, storage, disclosure and other uses of your information as permitted and described by this privacy policy, as may be amended and updated from time to time.
      </p>

      <p>
        Our Site and Services are not intended for children and we do not knowingly collect data related to children.
      </p>

      <br>

      <p><span>Contact Details</span></p>

      <p>
        This website is operated by Cuukin. This privacy policy describes the policies and procedures of Cuukin, registered as Cuukin in its use and disclosure of personal information from those who use or access(“Site”).
      </p>

      <p>
        You have a right to make a complaint at any time to the Information Commissioner’s Office (ICO), the UK supervisory authority for data protection issues (www.ico.org.uk). We would appreciate the chance to deal with your concerns before you approach the ICO. Please don’t hesitate to contact us, Email: contact@cuukin.app
      </p>

      <br>

      <p><span>Information we collect about you</span></p>

      <p>
        The type of information we collect about you depends on what activities you are carrying out on our website or app, and whether you’re logged in or not. Personal information about you is any information about an individual from which that person can be identified.
      </p>

      <p>
        We collect, use and store different kinds of personal data about you which we have grouped together as follows:
      </p>

      <ul>
        <li>
          Contact Data including but not limited to first name, last name, email address, and address location, mobile number and other data required to deliver our services to you.
        </li>
        <li>
          Personal Data including but not limited to age, profession, cooking preferences, to help us understand our user space and better deliver features and services.
        </li>
        <li>
          Profile Data including but not limited to password, preferences, feedback, and survey responses.
        </li>
        <li>
          Usage Data including but not limited to location and timestamp information.
        </li>
        <li>
          Technical Data including but not limited to your internet protocol (IP) address, your login data, browser type, time zone, location, browser plug-in types and versions, operating system and platform and other technology on the devices you use to access our Services.
        </li>
        <li>
          Marketing and Communications Data including but not limited to your preferences in receiving marketing from us, our third party partners, and your communication preferences.
        </li>
      </ul>

      <p>
        We also collect, use and share Aggregated Data such as statistical or demographic data for any purpose. Aggregated Data may be derived from your personal data but is not considered personal data in law as this data does not directly or indirectly reveal your identity. For example, we may aggregate your Usage Data to calculate the percentage of users accessing a specific Service feature. However, if we combine or connect Aggregated Data with your personal data so that it can directly or indirectly identify you, we treat the combined data as personal data which will be used in accordance with this privacy notice.
      </p>

      <p>
        We do not collect any Special Categories of Personal Data about you (this includes details about your race or ethnicity, religious or philosophical beliefs, sex life, sexual orientation, political opinions, trade union membership. Nor do we collect any information about criminal convictions and offences.
      </p>

      <br>

      <p><span>How is your personal data collected?</span></p>

      <p>
        We use different methods to collect data from and about you including through:
      </p>

      <ul>
        <li>
          Direct interactions. You may give us your Contact Data by signing up to our Services via our website. You may also provide information by corresponding with us by post, phone, email or otherwise.
        </li>
        <li>
          Automated technologies or interactions. As you interact with our website or app, we may automatically collect Technical Data about your browsing equipment, browsing actions or patterns by using cookies or similar technologies.
        </li>
        <li>
          Third parties or publicly available sources. We may receive personal data about you from various third parties. For a list, please contact us.
        </li>
      </ul>

      <br>

      <p><span>How we use your information</span></p>

      <p>
        We, or third parties on our behalf, may use your information for one or more of the following activities:
      </p>

      <ul>
        <li>
          Provide you with your own information such as user history, marketing settings, etc.
        </li>
        <li>
          Deliver relevant information to you depending on your settings
        </li>
        <li>
          Improve our Services for our website, products, marketing, customer relationships and experiences to define customer types, develop our business, and inform our general business & marketing strategies.
        </li>
        <li>
          Administer our website & data services including troubleshooting, data analysis, testing, system maintenance, support, reporting and hosting of data.
        </li>
      </ul>

      <p>
        Generally we do not rely on consent as a legal basis for processing your personal data other than in relation to sending third party direct marketing communications to you via email or text message. You have the right to withdraw consent to marketing at any time by contacting us or by following the links in the relevant messages requesting to unsubscribe from those communications.
      </p>

      <p>
        Under the General Data Protection Regulation (GDPR), the lawful bases we rely on for processing this information are: (a) Your consent. You are able to remove your consent at any time by contacting us. (b) We have a contractual obligation. (c) We have a legal obligation. (d) We have a vital interest. (e) We need it to perform a public task. (f) We have a legitimate interest.
      </p>

      <br>

      <p><span>Cookies and similar technology</span></p>

      <p>
        When you visit this Site you are accepting that cookies and similar technologies will be transferred to your computer. Cookies are small pieces of information which are issued to your computer when you visit a website and which store and sometimes track information about your use of that website. A number of cookies we use last only for the duration of your web session and expire when you close your browser. Other cookies are used to remember you when you return to the site and will last for longer.
      </p>

      <p>
        Although they do identify a user’s computer, cookies cannot be used by a third party to personally identify users. Some of the cookies used by our site are set by us and some by or with the help of third parties who are delivering services on our behalf. In particular, we use third parties to help us collect performance and measurement statistics about our site.
      </p>

      <p>
        When you use the services, we use persistent and session cookies and other tracking technologies to: (a) analyse the usage of our sites and services; (b) customise the services to your preferences; and (c) control the advertising displayed by the services. We may also use other internet technologies, such as web beacons or pixel tags and other similar technologies, to deliver or communicate with cookies and track your use of the Services (including to serve you ads when you are on other websites or the internet when we can access those cookies). We may also include web beacons in email messages or newsletters to determine whether the message has been opened. As we adopt additional technology, we may also gather additional information through other methods.
      </p>

      <p>
        Most web browsers automatically accept cookies, but if you prefer, you can set your browser to disable cookies or to notify you when you receive a cookie, giving you the chance to decide whether or not to accept it. Please note however, that by blocking or deleting cookies used on the site you may not be able to take full advantage of the site as it may impair your use of or prevent access to some areas, including taking advantage of special offers and vouchers. If you do leave cookies turned on, please take care to sign off when you are finished using a shared computer.
      </p>

      <p>
        You can also learn more about cookies by visiting www.allaboutcookies.org which includes additional useful information on cookies and how to block cookies using different types of browser.
      </p>

      <br>

      <p><span>How we share and disclose information</span></p>

      <p>
        Cuukin is committed to protecting your personal information. We will not disclose your personally identifiable information to third parties except where:
      </p>

      <p>
        Cuukin is required by law to disclose information to third parties; the service is necessary for the performance of our operations.
      </p>

      <p>
        Cuukin may provide analyses of our customers in the aggregate to prospective partners, advertisers and other third parties. We do this so that we and our business partners can understand you better, and so we can keep bringing you first-rate services. We may also disclose, on an anonymous basis, literal statements made by our customers. At no time, however, will we disclose personal information about specific customers.
      </p>

      <p>
        Linked websites are not under the control of Cuukin and we are not responsible for the conduct of companies linked to our website. Before disclosing your personal information on any other website, we advise you to examine their terms and services of use. If you have any questions concerning the Cuukin privacy policy, please contact us.
      </p>

      <br>

      <p><span>International transfers</span></p>

      <p>
        We may transfer your personal data outside the UK to third parties. Where we do so, we ensure that we have adequate contractual and operational protections in place to safeguard that data and to ensure that any such transfers are lawfully made. By using our website or other services you are consenting to us making such a transfer. If you do not consent, you should not use the Service.
      </p>

      <br>

      <p><span>Your rights concerning your information</span></p>

      <p>
      By law, you have a number of rights when it comes to your personal data, including:
      </p>

      <ul>
        <li>
          The right to be informed.  You have the right to be provided with clear, transparent and easily understandable information about how we use your information and your rights. This is why we are providing you with the information in this policy.
        </li>
        <li>
          The right of access. You have the right to obtain access to your information (if we are processing it), and certain other information (similar to that provided in this privacy policy). This is so you are aware and can check that we are using your information in accordance with data protection law.
        </li>
        <li>
          The right to correction. You are entitled to have your information corrected if it is inaccurate or incomplete.
        </li>
        <li>
          The right to erasure.  This is also known as ‘the right to be forgotten’ and in simple terms, and it enables you to request the deletion or removal of your information where there is no compelling reason for us to keep using it. This is not a general right to erasure; there are exceptions.
        </li>
        <li>
          The right to restrict processing.  You have rights to ‘block’ or suppress further use of your information. When processing is restricted, we can still store your information, but may not use it further. We keep lists of people who have asked for further use of their information to be ‘blocked’ to make sure the restriction is respected in future.
        </li>
        <li>
          The right to data portability.  You have rights to obtain and reuse your personal data for your own purposes across different services.
        </li>
        <li>
          The right to object to processing.  You have the right to object to certain types of processing, including processing for direct marketing (i.e., if you no longer want to be contacted with potential opportunities).
        </li>
        <li>
          The right to lodge a complaint.  You have the right to lodge a complaint about the way we handle or process your personal data with your national data protection regulator. In the United Kingdom, this is the Information Commissioner’s Office. Further information can be found at: www.ico.org.uk.
        </li>
        <li>
          The right to withdraw approval.  You have the right to withdraw your consent to processing at any time (although if you do so, it does not mean that anything we have done with your personal data with your consent up to that point is unlawful). This includes your right to withdraw consent to us using your personal data for marketing purposes.
        </li>
      </ul>

      <p>
        You can exercise these rights by any of the following means by contacting us with the information provided in the Contact section.
      </p>

      <p>
        Usually we act on requests and provide information free of charge, but we are permitted to charge a reasonable fee to cover our administrative costs of providing the information in certain circumstances, including in the case of any baseless or excessive/repeated requests, or where further copies of the same information are requested.
      </p>

      <p>
        Alternatively, we may be entitled to refuse to act on the request. Please consider your request responsibly before submitting it. We will respond as soon as we can. Generally, this will be within one (1) month from when we receive your request but, if the request is going to take longer to deal with, we will come back to you and let you know.
      </p>

      <br>

      <p><span>Marketing</span></p>

      <p>
        If you accept our terms of service and privacy policy, you agree to our use of your email address and other personal information in marketing and business development activities. From time to time, we may also contact you by post with information on special offers or events regarding our products or services or those of trusted third parties that we think you may be interested in.
      </p>

      <p>
        If you start to set up an account with Cuukin via the Site but do not complete the process or place any orders, then we may email you to find out if you need any help to complete the process. An unsubscribe link is given at the end of this email.
      </p>

      <p>
        In addition, we may use an IP address to identify you and to gather broad demographic information about you, which we will use to assist in the detection of fraud, to help identify problems with our server and to administer our website.
      </p>

      <br>

      <p><span>Content</span></p>

      <p>
        Our platform allows users to create their own content “User Content” and share the content with other users. In order for us to make the User Content you contribute available on the platform, and to operate, market and promote our service, we require the right to make use of such User Content in accordance with and subject to this agreement.
      </p>

      <p>
        Therefore, by unless an agreement has been reached prior to submission outside of the realm of this agreement, by contributing and posting User Content to the platform, you automatically grant to Cuukin an irrevocable and perpetual royalty-free, fully-paid, worldwide license to use, copy, distribute, perform, display, print, publish, republish, reformat, translate, modify this work on the platform and all related Cuukin channels and media platforms of any type.
      </p>

      <p>
        You must not upload or contribute any content not originally created by you, or any content which is not properly licensed to you by someone else for uploading or contributing.
      </p>

      <br>

      <p><span>Emails</span></p>

      <p>
        If you opt to accept our terms of service and privacy policy within the account sign up process you agree to our use of your email address. We will be able to associate this email address with your previous browsing and purchase experiences, whether you are logged on or not. We will know whether you receive email alerts and will be able to associate this with any other contact information you may have given us.
      </p>

      <br>

      <p><span>Marketing</span></p>

      <p>
        If you opt to accept our terms of service and privacy policy within the account sign up process but subsequently change your mind and no longer wish to receive such communications, you can opt out of receiving future communications at any time by emailing us. Please note; when opting out you may continue to receive some information from us where this is already in the communication pipeline, but this will typically be the case for up to 1 week after the date on which you update your account.
      </p>

      <p>
        In addition, an unsubscribe link is given at the end of every marketing email should you no longer wish to receive marketing communications from us.
      </p>

      <p>
        If you accept our terms of service and privacy policy, you agree to our use of your email address and other personal information in marketing and business development activities. From time to time, we may also contact you by post with information on special offers or events regarding our products or services or those of trusted third parties that we think you may be interested in.
      </p>

      <p>
        If you start to set up an account with Cuukin via our website but do not complete the process or place any orders, then we may email you to find out if you need any help to complete the process. An unsubscribe link is given at the end of this email.
      </p>

      <p>
        In addition, we may use an IP address to identify you and to gather broad demographic information about you, which we will use to assist in the detection of fraud, to help identify problems with our server and to administer our website.
      </p>

      <br>

      <p><span>Limitation of Liability</span></p>

      <p>
        By agreeing to the terms and conditions, you expressly agree that in no event shall Cuukin, its officers, directors, employees, contractors affiliates, or agents be liable to you or any third party for:
      </p>

      <p>
        Any direct indirect, punitive, incidental, special, consequential damages or any damage incurred by you, however caused and under any theory of liability.
      </p>

      <p>
        By agreeing to the terms and conditions, you expressly agree that you are voluntarily participating in the activities on our platform. You understand that there are risks associated with my participation in this Activity, such as physical and/or psychological injury, pain, suffering, illness, disfigurement, temporary or permanent disability, death or economic loss. These injuries or outcomes may arise from your own or other’s actions, inactions, or negligence. Nonetheless, you assume all risks of participation activities on our platform, whether known or unknown to you.
      </p>

      <br>

      <p><span>Updates to Privacy Policy</span></p>

      <p>
        This privacy notice was last updated on 12 April 2021 and historic versions can be obtained by contacting us.
      </p>

      <p>
        We may update this privacy policy at any time for any reason. If we do so, we will post the updated privacy policy to our Site and indicate its effective date. Your continued use of our Site will mean you acknowledge and agree to all such changes.
      </p>

    </div>
  </div>
</div>
