<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Recipe",
  "recipeIngredient": [
    <% @grocery_list.grocery_list_items.each do |item| %>
      "<%= "#{item.quantity} #{item.unit} #{item.ingredient.name}" %>",
    <% end %>
  ]
}
</script>

<div itemscope itemtype="https://schema.org/Recipe" class="d-none">
  Ingredients:
  <% @grocery_list.grocery_list_items.each do |item| %>
    <span itemprop="recipeIngredient"><%= "#{item.quantity} #{item.unit} #{item.ingredient.name}" %></span>
  <% end %>
</div>
