<div class="user-awards-container">
  <% @user_badges.each do |user_badge| %>
    <div class="user-badge-container">
      <% medal = user_badge.medal %>
      <%= image_tag("#{user_badge.badge.bronze}", class: 'badge1') %>
      <%= image_tag("#{user_badge.badge.icon}", class: 'badge2') %>
    </div>
  <% end %>
</div>
