<div class="feed-container">
  <div class="feed-header">
    <h1>Feeding the feed</h1>
    <div class="friends-toggle">
      <span class="feed feedSelected"><p>All</p></span>
      <span class="feed"><p>Friends</p></span>
    </div>
  </div>

  <div class="feed-cards-container">
    <% @user_recipes.each do |ur| %>
      <div class="feed-card">
        <div class="feed-card-header">
          <h5>@<%= ur.user.username %></h5>
          <p><%= "Lesson #{ur.recipe.lessons.first.book.id}. | #{ur.recipe.title}" %></p>
        </div>
        <div class="feed-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= ur.photo.service_url %>')"></div>
      </div>
    <% end %>
  </div>
</div>
