<div class="currency-modal">
  <div class="currency-modal-content">
    <%= image_tag('btn-close-rounded.svg', class: 'currency-modal-close-btn') %>

    <%= image_tag('nb-3-cuukie.svg', class: 'currency-icon') %>
    <h1 id="nb-cuukie">Cuukies</h1>

    <div class="currency-text-content">
      <p>In-game currency at Cuukin</p>
      <p>Use Cuukies to do fancy stuff like unlocking locked lessons & accessing premium books</p>
      <p>Upcoming features -- Earn Cuukies by completing quizzes or buy them in Cuukin Store</p>
    </div>
  </div>
</div>
