<div class="currency-modal">
  <div class="currency-modal-content">
    <%= image_tag('btn-close-rounded.svg', class: 'currency-modal-close-btn') %>

    <%= image_tag('nb-4-dish.svg', class: 'currency-icon') %>
    <h1 id="nb-dish">Dishes</h1>

    <div class="currency-text-content">
      <p>Accumulated recipes you have learnt</p>
      <p>Shows you the number of dishes you can now cook based on the lessons you have taken</p>
      <p>Kin will be super proud to see a huge number here!</p>
    </div>
  </div>
</div>
