<div class="currency-modal" id="level-modal">
  <div class="currency-modal-content">
    <%= image_tag('btn-close-rounded.svg', class: 'currency-modal-close-btn', id: 'level-close-btn') %>

    <%= image_tag('nb-1-level.svg', class: 'currency-icon') %>
    <h1 id="level-h1">Level</h1>

    <div class="currency-text-content">
      <p class="currency-bold">Your Current Chef Level</p>
      <p>To level up, complete 80% of the lessons in the main storyline (colored Cuukin red in Journey page) & obtain more Stars.</p>
      <p>Your Chef Title will update every couple of levels -- so get on working!</p>
    </div>
  </div>
</div>
