<div class="currency-modal" id="stars-modal">
  <div class="currency-modal-content">
    <%= image_tag('btn-close-rounded.svg', class: 'currency-modal-close-btn', id: 'stars-close-btn') %>

    <%= image_tag('nb-2-xp.svg', class: 'currency-icon') %>
    <h1 id="xp-h1">Stars</h1>

    <div class="currency-text-content">
      <p>Overall "experience points"</p>
      <p>You can gain Stars across Cuukin, by completing lessons, cooking My CuukBook recipes, etc.</p>
      <p>Stars are important for leveling up!</p>
    </div>
  </div>
</div>
