<div class="public-profile-container">
  <div class="public-profile-navbar-container">
    <%= render @user %>
  </div>

  <div class="public-profile-feed">
    <% if @user.user_recipes.empty? %>
      <p class="text-center">Oops, looks like this chef hasn't made any dishes yet.</p>
    <% else %>
      <% @user.user_recipes.each do |recipe| %>
        <% if recipe.photo.attached? && recipe.public %>
          <div class="feed-photo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= recipe.photo.service_url %>')"></div>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
