<div class="help-container">
  <div class="help-card" id="helpCard1">
    <%= image_tag("btn-close-rounded.svg", class: 'btn-close') %>
    <%= image_tag("https://res.cloudinary.com/cuukin/image/upload/v1618349425/Cuukin%20-%20Public/help-1_zuqhqd.svg") %>
    <div class="help-content">
      <%= image_tag("https://res.cloudinary.com/cuukin/image/upload/v1618350204/Cuukin%20-%20Public/arrow_k27tgg.svg") %>
      <h1>How does this work?</h1>
      <ol>
        <li>Start your <span>Journey</span></li>
        <li>Open <span>Books</span> to explore lessons</li>
        <li>Jump on your <span>Lesson</span></li>
      </ol>
    </div>
  </div>
</div>
