<div class="container-center-pages">
  <div class="center-pages-content">
    <h1>Sorry we are still cooking up this page</h1>
    <%= image_tag('global-construction.svg', class: 'construction-img') %>
    <p><%= link_to "Donate to our Patreon", "https://www.patreon.com/Cuukin", target: '_blank' %> <span>to help with</span> <span>the finishing touch.</span></p>
  </div>
</div>
