<div id="termsOfService">
  <div class="form-devise register-devise terms-of-service-container">

    <div class="terms-service-content">
      <h1>Data Deletion</h1>

      <br>

      <p>
        Cuukin Cooking School Ltd. respects your privacy and is committed to protecting your personal data, including the rights to have your data forgotten.
      </p>

      <p>
        Please refer back to our <%= link_to "Terms & Conditions", privacy_path, target: "_blank" %> if you have any doubts on how we manage your data.
      </p>

      <br>

      <p><span>How can I delete my account?</span></p>

      <p>
        To have your account deleted and all of your data forgotten, you just need to e-mail us at <%= link_to "contact@cuukin.app", "mailto:contact@cuukin.app", target: "_blank" %> requesting your data deletion.
      </p>

      <p><span>How long does it take for you to process my request?</span></p>

      <p>
        We are dedicated to replying to any data deletion request in up to 2 working days and deleting your account immediately after having your email confirmed.
      </p>

      <p><span>Can I come back after deleting my account?</span></p>

      <p>
        Unfortunately, after we complete your request, all of your data at Cuukin will be lost and we will not be able to reactive your account the way it is at the moment. You can always create a new account at any given time later.
      </p>

      <br><br>

    </div>
  </div>
</div>
