<div class="home-body">
  <div class="home-carousel-container" >

    <div class="home-first-item">
      <div class="home-header">
        <%= image_tag('home.svg', class:'carousel-img-0') %>
        <h2>Cooking school at your fingertips</h2>
        <p>Learn. Cook. Have Fun.</p>
      </div>

      <div class="carousel-primary-btns">
        <%= link_to 'Register', new_user_registration_path, class: 'primary-btn'  %>
        <%= link_to 'Log-in', new_user_session_path, class: 'secondary-btn' %>
      </div>
    </div>
  </div>
</div>
