<div class="body-white-bg">
  <div class="home-carousel-container" >

    <%= image_tag('btn-back.svg', class: 'home-btn-back', id: 'prevBtn') %>

    <div class="home-first-item">
      <%= image_tag('home-00.svg', class:'carousel-img-0') %>
      <h2>Cooking school at your fingertips</h2>
      <p>Learn. Cook. Have Fun.</p>

      <div class="carousel-primary-btns">
        <%= link_to 'Register', new_user_registration_path, class: 'primary-btn'  %>
        <%= link_to 'Log-in', new_user_session_path, class: 'secondary-btn' %>
      </div>
    </div>
  </div>
</div>
