<!-- first div with general info + btn to start lesson -->
<div class="container-lesson-overview">
  <%= image_tag('lesson-photo.png', class: 'lesson-photo') %>
  <div class="card-lesson-overview">
    <h2 class="text-center">Balsamic Carrots</h2>
    <ul class="lesson-overview-details">
      <li>
        <%= image_tag('lesson-time.svg', class: 'lesson-icons') %>
        60 min
      </li>
      <li>
        <%= image_tag('lesson-level.svg', class: 'lesson-icons') %>
        Level 1
      </li>
      <li>
        <%= image_tag('lesson-ingredient.svg', class: 'lesson-icons') %>
        Eggs
      </li>
    </ul>
  </div>
</div>

<!-- overflow hidden container with all skill chapters -->
<div class="container-lesson-content">
  <div class="card-lesson-chapter">

  </div>
</div>

<!-- overflow hidden container with all recipe methods -->
<div class="container-lesson-recipe">
  <div class="card-lesson-recipe">

  </div>
</div>
