<div class="container-welcome">
  <h1>Welcome to Cuukin!</h1>
  <p id="welcome-kin">My name is Kin. I'm excited to have you join my "cuukin" journey.</p>
  <p id="welcome-p">As an intro present, I would like to gift you some Cuukies & XP and level you up!</p>
  <p id="welcome-congrats">Congratulations!</p>

  <div class="container-welcome-animation">
    <%= image_tag('welcome-smoke.svg', id: 'welcome-smoke') %>
    <%= image_tag('cuukin-avatar-gray.svg', id: 'cuukin-gray') %>
    <%= image_tag('welcome-gift.svg', id: 'welcome-gift') %>
    <%= image_tag('welcome-gift-shadow.svg', id: 'welcome-gift-shadow') %>
  </div>
</div>
