<div class="quiz-container">
  <div class="quiz-card">

    <div class="quiz-card-header">
      <h3>Quiz - Salt</h3>
      <h4><span class="current">1</span> / 2</h4>
    </div>

    <h1 class="quiz-question">What is the rule of thumb to adding salt to your food?</h1>

    <div class="quiz-answer-container">
      <div class="quiz-answer correct-answer">
       <p>Taste and add as you cook</p>
      </div>
      <div class="quiz-answer">
        <p>Always add 1 teaspoon</p>
      </div>
      <div class="quiz-answer">
        <p>Add after you finished the meal</p>
      </div>
      <div class="quiz-answer incorrect-answer">
        <p>Salt is not necessary</p>
      </div>
    </div>

    <p class="skip-quiz d-none">Skip</p>
    <p class="next-question primary-btn">Next</p>

    <p class="quiz-answer-content">
      <span>Answer:</span> Trust your paladar and add little salt as you cook.
    </p>

  </div>
</div>
