<div class="container-book-lesson">

  <h1>Kitchen Basics</h1>
  <p>Basic description of the book, what it is about.</p>

  <div class="container-lesson-card">
    <div class="lesson-card">
      <p>Duration: 20 minutes</p>
      <h2>Balsamic Carrots</h2>
    </div>
  </div>

</div>
