<div class="recipe-modal" id="ingredientSwapModal" style="display: block;">
  <div class="recipe-modal-content">
    <div class="help-heading">
      <%= image_tag('lesson-important.svg') %>
      <p>What alternative ingredient can I use?</p>
    </div>
    <p>Pick your preferred substitute for <span style="font-weight: 800;">squash</span></p>
    <p class="secondary-btn">Carrots</p>
    <p class="secondary-btn">Parnisp</p>
    <p class="secondary-btn">Keep using squash</p>
  </div>
</div>
