.primary-btn, .primary-btn:hover {
  background-color: $cuukin;
  color: $white;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  font-weight: 500;
  padding: 10px 20px;

  &:disabled {
    background-color: $gray;
    color: $light-gray;
  }
}

.secondary-btn {
  background-color: $white;
  border: 1px solid $black;
  color: $black;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  font-weight: 500;

  &:disabled {
    background-color: $gray;
    color: $light-gray;
  }
}

.previous-btn, .previous-btn:hover {
  background-color: transparent;
  border: 2px solid $black;
  color: $black;
  text-align: center;
  font-size: 20pt;
  padding: 20px 30px;
  border-radius: 50%;
  display: inline-block;
}

.next-btn, .next-btn:hover {
  background-color: $cuukin;
  color: $white;
  text-align: center;
  font-size: 20pt;
  padding: 20px 30px;
  border-radius: 50%;
  display: inline-block;
}
