.home-carousel-container {
  width: 500px;
  margin: auto;
  overflow: hidden;
  background-color: $white;
  box-shadow: 1px 1px 8px rgba(30,30,30,0.1);
}

.home-carousel-slide {
  width: 100%;
  display: flex;
  align-item: flex-end;
  min-height: 80vh;
}

.home-carousel-item {
  // margin: 16px 0 0 0;
  // align-self: center;
  text-align: center;

  h2 {
    color: $dark-red;
  }

  p {
    margin: 0;
  }
}

.home-carousel-item-content {
  padding: 24px;
}

.carousel-img {
  width: 500px;
}

// buttons and progress bar

.home-progress-bar {
  width: 30%;
  margin: 8px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $cuukin;
}

.circle-disabled {
  opacity: 0.4;
}

.home-carousel-btns {
  display: flex;
  justify-content: center;
  margin: 32px 0 40px;
}

.carousel-previous {
  display: flex;
  justify-content: flex-start;
  margin: 24px;
}

.previous-btn, .previous-btn:hover {
  background-color: $light-gray;
  // border: 2px solid $black;
  color: $white;
  text-align: center;
  font-size: 16pt;
  padding: 10px 20px;
  border-radius: 50%;
  // display: inline-block;
  margin: 0 4px;
}

.next-btn, .next-btn:hover {
  background-color: $cuukin;
  color: $white;
  text-align: center;
  font-size: 16pt;
  padding: 15px 25px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
}

// @media (max-width: 960px) {
//   /* For a screen < 960px, this CSS will be read */
//   .home-carousel-container, .home-carousel-item, .carousel-img {
//     width: 700px;
//   }
// }
// @media (max-width: 720px) {
//   /* For a screen < 720px, this CSS will be read */
//   .home-carousel-container, .home-carousel-item, .carousel-img {
//     width: 700px;
//   }
// }
@media (max-width: 450px) {
  /* For a screen < 540px, this CSS will be read */
  .home-carousel-container, .home-carousel-item, .carousel-img {
    width: 300px;
  }
}
