.home-carousel-container {
  width: 500px;
  margin: auto;
  overflow: hidden;
  background-color: $white;
  box-shadow: 1px 1px 8px rgba(30,30,30,0.1);
  padding: 16px 0;
}

.home-carousel-slide {
  width: 100%;
  display: flex;
  align-item: flex-end;
}

.home-carousel-item {
  text-align: center;
  position: relative;
  top: -16px;

  h2 {
    color: $dark-red;
    font-weight: 800;
    margin-bottom: 16px;
    font-size: 24px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }
}

#carousel-first-item {
  position: relative;
  top: -24px;
}

.home-carousel-item-content {
  padding: 24px 24px 0;
  position: relative;
  top: -80px;
}

.carousel-img {
  width: 500px;
}

// buttons and progress bar

.home-carousel-nav {
  position: relative;
  top: -56px;
}

.carousel-primary-btns {
  position: relative;
  top: -72px;
  padding: 0 16px;
}

.registerBtn {
  padding: 0 16px;
}

.home-progress-bar {
  width: 80px;
  margin: 0 auto 24px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: $cuukin;
}

.circle-disabled {
  opacity: 0.4;
}

#nextBtn {
  height: 48px;
  display: block;
  margin: 0 auto;
}

.home-btn-back {
  margin-left: 16px;
  z-index: 10;
  cursor: pointer;
  height: 42px;
  position: fixed;
}

.container-next-btn {
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  /* For a screen < 720px, this CSS will be read */
  .home-carousel-container, .home-carousel-item, .carousel-img {
    width: 100vw;
  }
}

@media (max-width: 400px) {
  /* For a screen < 540px, this CSS will be read */
  .home-carousel-container, .home-carousel-item, .carousel-img {
    width: 100vw;
  }
}
