.home-carousel-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  background-color: $white;
  box-shadow: 1px 1px 8px rgba(30,30,30,0.1);
}

.home-carousel-slide {
  width: 100%;
  display: flex;
  min-height: 80vh;
}

.home-carousel-item {
  // width: 100vw;
  // margin: auto;
  align-self: center;
  text-align: center;
  padding: 24px;

  h2 {
    color: $dark-red;
    margin: 16px 0;
  }
}

.home-carousel-item-content {
  padding: 24px;
}

.carousel-img {
  width: 400px;
}

// buttons and progress bar

.home-progress-bar {
  width: 25%;
  margin: 24px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $cuukin;
}

.circle-disabled {
  opacity: 0.4;
}

.home-carousel-btns {
  display: flex;
  justify-content: center;
  margin: 32px 0 40px;
}
