.form-devise {
  background: white;
  width: 500px;
  margin: auto;
  padding: 40px 24px;
  // box-shadow: 1px 1px 8px rgba(30,30,30,0.1);

  h2 {
    color: $dark-red;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .form-inputs {
    color: $dark-gray;
  }

  .devise-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .devise-img {
    width: 400px;
    height: auto;
    margin: 24px 0;
  }

  .form-control {
    border-radius: 8px;
    font-size: 14px;
    padding: 10px 15px;
  }

  .form-group, .password, .required, .user_password {
    // margin: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .double-form-input {
    display: flex;
    justify-content: space-between;
  }

  .double-btn {
    display: flex;
    justify-content: space-between;
  }

  p {
    color: $black;
  }
}

.devise-extra-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.devise-p {
  font-size: 14px;
  color: $cuukin;
}

.social-btns {
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 32px;
    color: $gray;
    margin: 0 8px;
  }
}

.register-devise {
  .form-group {
    margin: 0;
  }
}

@media (max-width: 500px) {
  /* For a screen < 720px, this CSS will be read */
  .form-devise {
    width: 100vw;

    .devise-img {
      width: 400px;
      height: auto;
    }
  }
}

@media (max-width: 400px) {
  /* For a screen < 540px, this CSS will be read */
  .form-devise {
    width: 100vw;

    .devise-img {
      width: 300px;
      height: auto;
    }
  }
}

@media (max-width: 300px) {
  /* For a screen < 540px, this CSS will be read */
  .form-devise {
    width: 100vw;

    .devise-img {
      width: 200px;
      height: auto;
    }
  }
}
