// User navbar

.container-user-navbar {
  background-color: $cuukin;
  display: flex;
  height: 64px;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 100;

  #open-btn {
    height: 20px;
    cursor: pointer;
  }
}

.nb-user-item {
  text-align: center;

  p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
  }

  img {
    height: 24px;
  }
}

// User navbar top icons

#nb-level {
  color: #FFFFFF;
}

#nb-xp {
  color: #A4EAD1;
}

#nb-cuukie {
  color: #FFEA65;
}

#nb-dish {
  color: #0D6E9A;
}

// User Footer Navbar

.container-user-navbar-footer {
  height: 56px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $light-gray;
  box-shadow: 0px -4px 30px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 100;

  img {
    height: 28px;
  }
}

// Expanded Navbar

.expanded-navbar {
  background-color: $cuukin;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -10000;
  opacity: 0;
  visibility: hidden;

  #close-btn {
    cursor: pointer;
    height: 28px;
    align-self: flex-end;
    margin: 32px 32px 0 0;
  }

  .expanded-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      font-size: 24px;
      font-family: 'Nunito', sans-serif;
    }

    li, a {
      color: $white;

      a:hover, a:active {
        color: $light-gray;
      }
    }
  }
}

// Visitor navbar

.container-visitor-navbar {
  padding: 0 20px;
  background-color: $cuukin;
  display: flex;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;

  a, a:hover, a:active {
    color: $white;
    font-size: 16px;
  }
}

.navbar-brand img {
  width: 48px;
}
