.container-book-lesson {
  padding: 40px 16px;
  width: 500px;
  margin: 0 auto;

  h1 {
    color: $cuukin;
  }

  p {
    color: $black;
  }

  img {
    height: 80px;
  }
}

.book-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 32px;

  .book-info-text {
    max-width: 400px;
  }

  p {
    margin: 0;
  }

  img {
    height: 40px;
  }
}

.container-lesson-card {
  position: relative;

  img {
    height: 56px;
    position: absolute;
    top: 27px;
    left: -28px;
  }
}

.lesson-card {
  background-color: $white;
  border-radius: 16px;
  padding: 32px 8px 32px 40px;
  margin: 16px 0;

  p {
    color: $dark-gray;
    margin: 0;
  }

  h2 {
    color: $black;
    margin: 0;
  }
}

.lesson-card-current {
  background-color: $cuukin;
  border-radius: 16px;
  padding: 32px 8px 32px 40px;
  margin: 16px 0;

  p {
    color: $dark-red;
    margin: 0;
  }

  h2 {
    color: $white;
    margin: 0;
  }
}

.lesson-card:hover, .lesson-card:active {
  box-shadow: 1px 1px 6px rgba(120,120,120,0.05);
}

.lesson-card-current:hover, .lesson-card-current:active {
  box-shadow: 1px 1px 6px rgba(120,120,120,0.1);
}

.container-lessons-cards {
  padding: 0 0 0 64px;
}

@media (max-width: 500px) {
  /* For a screen < 720px, this CSS will be read */
  .container-book-lesson {
    width: 100vw;
  }
}

@media (max-width: 400px) {
  /* For a screen < 540px, this CSS will be read */
  .container-book-lesson {
    width: 100vw;
  }
}
