.profile-container {
  width: 500px;
  margin: 0 auto;
  padding: 40px 16px;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.profile-text-content {
  h2 {
    font-size: 20px;
    font-weight: 700;
    color: $cuukin;
  }

  h4 {
    font-size: 16px;
    font-weight: 300;
    font-family: proxima-nova, sans-serif;
    margin-bottom: 16px;
  }

  p {
    font-size: 16px;
    color: $dark-gray;
    padding: 5px 10px;
    border: 1px solid $dark-gray;
    border-radius: 8px;
    display: inline-block;
    margin: 0;
  }

  i {
    color: $gray;
    margin-right: 8px;
  }
}

.profile-image-content {
  position: relative;

  .edit-photo-btn {
    height: 35px;
    position: absolute;
    top: 96px;
    left: 89px;
  }

  .user-img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.profile-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  hr {
    border: 1px solid $gray;
    background-color: $gray;
    width: 200px;
    border-radius: 8px;
  }

  h4 {
    color: $dark-gray;
    margin: 0 16px;
  }
}

.empty-container {
  padding: 16px;
  text-align: center;
}

@media (max-width: 500px) {
  /* For a screen < 720px, this CSS will be read */
  .profile-container {
    width: 100vw;
  }
}

@media (max-width: 390px) {
  .profile-image-content {
    .user-img {
      height: 88px;
      width: 88px;
    }
    .edit-photo-btn {
      height: 32px;
      top: 65px;
      left: 54px;
    }
  }
}

@media (max-width: 355px) {
  .profile-text-content {
    max-width: 50%;
  }
}
