.feed-container {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: 60px;
  padding: 24px 16px 96px;
}

.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 22px;

  h1 {
    color: $cuukin;
  }

  h1, .friends-toggle {
    margin-bottom: 2px;
  }
}

.friends-toggle {
  display: flex;
  background-color: $dark-gray;
  border-radius: 50px;
  padding: 4px;
  cursor: pointer;

  p {
    margin: 0;
  }

  .feed {
    border-radius: 50px;
    padding: 4px 16px;
    align-text: center;

    p {
      color: $white;
    }
  }

  .feedSelected {
    background-color: $white;

    p {
      color: $dark-gray;
    }
  }
}

.feed-card {
  width: 100%;
  //height: 293px;
  background-color: $white;
  -webkit-filter: drop-shadow( 0px 3px 6px rgba(0, 0, 0, .16));
  filter: drop-shadow( 0px 3px 6px rgba(0, 0, 0, .16));
  border-radius: 12px;
  padding: 10px 8px;
  margin-bottom: 16px;

  .feed-image {
    width: 100%;
    height: 196px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
  }
}

.feed-card-header {
  padding: 0 4px;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-start;

  .user-img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-filter: drop-shadow( 3px 3px 6px rgba(0, 0, 0, .16));
    filter: drop-shadow( 3px 3px 6px rgba(0, 0, 0, .16));
  }

  .card-header-text-info {
    margin-left: 10px;
  }

  h5 {
    font-size: 16px;
    color: $black;
    font-weight: 400;
    margin: 0;
  }
  p {
    font-size: 14px;
    color: $dark-gray;
    margin: 0;
  }
}
