.journey-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 16px;

  .journey-map {
    width: 200px;
  }
}

.btn-open-help {
  height: 60px;
  width: auto;
  cursor: pointer;
}

.journey-books {
  img {
    height: 88px;
    position: absolute;
    top: 155px;
    left: 59px;
  }
}

@media (max-width: 880px) {
  /* For a screen < 720px, this CSS will be read */
  .journey-container {
    width: 100vw;
  }
}

@media (max-width: 400px) {
  /* For a screen < 540px, this CSS will be read */
  .journey-container {
    width: 100vw;
  }
}
