// Prev Btn

.btn-back {
  height: 42px;
  width: 42px;
  cursor: pointer;
  position: fixed;
  z-index: 10;
  margin: 24px 0 0 16px;
}

.recipe-next-btn {
  height: 42px;
  width: 42px;
  cursor: pointer;
}

.nutri-show-btn {
  height: 14px;
  cursor: pointer;
  transition: transform ease-in-out 0.4s;
  transform-origin: 50% 50%;
}

.complete-lesson-icon {
  height: 20px;
  margin-right: 4px;
}

.warning-completion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  margin-top: 24px;

  img {
    height: 48px;
    margin-right: 4px;
  }

  h5 {
    color: $cuukin;
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
}

// Lesson Overview [FIRST CARD]

.container-lesson-overview {
  // position: relative;
  width: 500px;
  margin: 0 auto;
  background-color: $white;
  box-shadow: 1px 1px 8px rgba(30,30,30,0.1);
}

.lesson-photo {
  width: 500px;
  height: 300px;
  background-size: auto 75%;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.lesson-dash {
  width: 43px;
  display: block;
  margin: 0 auto 24px;
}

.card-lesson-overview {
  background-color: $white;
  border-radius: 24px 24px 0 0;
  padding: 10px 16px 16px;
  position: relative;
  top: -32px;

  h2 {
    color: $cuukin;
    font-size: 24px;
    font-weight: 700;
  }

  h3 {
    color: $black;
  }
}

.lesson-overview-details {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  color: $gray;
  margin-top: 24px;
  flex-wrap: wrap;

  li {
    font-size: 16px;
    display: inline;
    margin: 0 16px;
  }

  .lesson-icons {
    height: 20px;
  }
}

.lesson-overview-serving {
  color: $dark-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;

  p {
    margin: 0 0 0 10px;
  }

  .serving-btn {
    height: 30px;
    margin: 0 16px;
    cursor: pointer;
  }

  .serving-icon {
    height: 20px;
  }
}

.lesson-overview-skills {
  margin: 24px 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 12px 12px 0;
  }

  p {
    font-weight: 16px;
    line-height: 1;
    margin: 8px 0 0;
    // width: 50%;
    text-align: center;
  }

  img {
    height: 77px;
    width: 77px;
  }

  .badge-container {
    position: relative;
    top: 0;
    left: 0;
  }

  .badge1 {
    position: relative;
    top: 0;
    left: 0;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(150, 150, 150, .0));
    filter: drop-shadow( 0px 3px 6px rgba(0, 0, 0, .16));
    // padding: 4px;
  }

  .badge2 {
    position: absolute;
    top: 0;
    left: 0;
    // padding: 4px;
  }
}

.lesson-overview-nutri {
  margin: 24px 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 8px;
    font-size: 14px;

    background-color: $cuukin;
    border-radius: 12px;
    padding: 8px;
  }

  p {
    margin: 0;
  }
}

.nutri-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 8px;

  h3 {
    margin: 0;
  }
}

.nutri-content {
  display: none;
  opacity: .1;
  transition: opacity ease-in 0.25s;
}

.nutri-data {
  background-color: rgb(246, 234, 234);
  border-radius: 12px;
  padding: 8px 16px;
  text-align: center;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
}

.nutri-metric {
  color: $white;
  padding: 8px 0;
}

.lesson-overview-equipment, .lesson-overview-ingredients {
  margin: 24px 0;

  table {
    width: 100%;
  }

  td {
    font-size: 16px;
    display: inline-block;
  }
}

.ingredient-measure, .equipment-measure {
  text-align: right;
  width: 64px;
  // min-width: 16px;
}

.ingredient-name, .equipment-name {
  padding-left: 16px;
}

.lesson-important {
  color: $dark-gray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 16px;

  img {
    height: 30px;
    width: 30px;
    margin-right: 8px;
  }

  p {
    margin: 0;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  /* For a screen < 720px, this CSS will be read */
  .container-lesson-overview, .lesson-photo {
    width: 100vw;
  }
}

@media (max-width: 400px) {
  /* For a screen < 540px, this CSS will be read */
  .container-lesson-overview, .lesson-photo {
    width: 100vw;
  }

  .lesson-overview-details {
    li {
      font-size: 16px;
      display: inline;
      margin: 0 10px;
    }

    .lesson-icons {
      height: 16px;
    }
  }

  .lesson-overview-serving {
    p {
      margin: 0 0 0 8px;
    }

    .serving-btn {
      height: 24px;
      margin: 0 14px;
    }
  }
}

// Container overflow SKILL VIDEOS + RECIPE METHODS

.container-lesson {
  width: 500px;
  min-height: 100vh;
  margin: auto;
  overflow: hidden;
  box-shadow: 1px 1px 8px rgba(30,30,30,0.1);
}

.lesson-slide {
  width: 100%;
  display: flex;
  position: relative;
  top: 16px;
}

// Lesson Skill Chapter [second++ cards]

.container-lesson-chapter {
  width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $white;
}

.card-lesson-chapter {
  width: 100%;
  background-color: $white;
  padding: 10px 16px 16px;
  border-radius: 20px 20px 0 0;
  position: relative;
  top: -10px;

  h2 {
    color: $cuukin;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  h3 {
    color: $black;
    margin-bottom: 16px;
  }

  .skill-description {
    margin-bottom: 24px;
  }
}

.lesson-skill-video {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 500px;

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.meter {
  height: 16px;
  width: 100%;
  max-width: 500px;
  padding: 2px 0;
  background-color: $light-gray;
  position: fixed;
  z-index: 10;

  span {
    height: 100%;
    width: 0;
    display: block;
    background-color: $cuukin;
  }
}


@media (max-width: 500px) {
  /* For a screen < 720px, this CSS will be read */
  .container-lesson, .container-lesson-chapter, .lesson-skill-video {
    width: 100vw;
  }
}

@media (max-width: 400px) {
  /* For a screen < 540px, this CSS will be read */
  .container-lesson, .container-lesson-chapter, .lesson-skill-video {
    width: 100vw;
  }
}

// Lesson Recipe Method

.container-lesson-recipe {
  width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $light-gray;
}

.card-lesson-recipe {
  background-color: $light-gray;
  padding: 16px;

  h4 {
    font-weight: 100;
    font-style: italic;
    font-size: 18px;
  }

  h2 {
    color: $cuukin;
    font-size: 24px;
    font-weight: 700;
  }
}

.lesson-recipe-video {
  width: 500px;
  display: flex;
  justify-content: center;
  overflow: hidden;

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.card-lesson-recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;

  .next-btn {
    margin: 0;
  }
}

.recipe-method-content {
  display: flex;
  justify-content: space-between;
}

.recipe-method-ingredients {
  padding: 8px;
  border: 1px dashed $black;
  width: 40%;

  h5 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 8px;
  }
}

.recipe-method-description {
  width: 60%;
  padding: 0 16px;
}

.finish-lesson {
  margin-top: 24px;
}

@media (max-width: 500px) {
  /* For a screen < 720px, this CSS will be read */
  .container-lesson-recipe, .lesson-recipe-video {
    width: 100vw;
  }
}

@media (max-width: 400px) {
  /* For a screen < 540px, this CSS will be read */
  .container-lesson-recipe, .lesson-recipe-video {
    width: 100vw;
  }
}
