.journey-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  padding: 40px 16px;
  position: relative;

  .journey-map {
    width: 200px;
  }
}

.btn-open-help {
  height: 60px;
  width: auto;
  cursor: pointer;
  position: fixed;
  right: 80px;
}

.journey-books {
  img {
    height: 88px;
    position: absolute;
  }

  #book-0 {
    top: 107px;
    left: 59px;
  }
}

@media (max-width: 880px) {
  /* For a screen < 720px, this CSS will be read */
  .journey-container {
    width: 100vw;
  }
  .btn-open-help {
    right: 24px;
  }
}

@media (max-width: 400px) {
  /* For a screen < 540px, this CSS will be read */
  .journey-container {
    width: 100vw;
  }
}
