.journey-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  padding: 40px 16px;
  position: relative;

  .journey-map {
    width: 200px;
  }
}

.btn-open-help {
  height: 48px;
  width: auto;
  cursor: pointer;
  position: fixed;
  right: 80px;
}

.journey-books {
  img {
    height: 86px;
    position: absolute;
  }

  #book-1 {
    top: 107px;
    left: 59px;
  }

  #progress-book-1 {
    top: 102px;
    left: 54px;
  }

  #book-2 {
    top: 236px;
    left: 116px;
  }

  .progress-ring {
    position: absolute;
    z-index: 10;
  }

  .progress-ring__circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%,
  }
}

@media (max-width: 880px) {
  /* For a screen < 720px, this CSS will be read */
  .journey-container {
    width: 100vw;
  }
  .btn-open-help {
    right: 24px;
  }
}

@media (max-width: 400px) {
  /* For a screen < 540px, this CSS will be read */
  .journey-container {
    width: 100vw;
  }
}
