<div class="container-visitor-navbar">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>
  <% unless current_user %>
    <%= link_to "Log In", new_user_session_path %>
  <% end %>
</div>
