<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
</head>

<body>
  <div style="background-color: #EDEDED; width: 100%; height: 100%; padding: 50px 0;">
    <div style="padding: 32px 32px; background-color: #FFFFFF; width: 60%; margin: auto;">

      <h2 style="color: #F86464; font-size: 16pt; font-weight: 800; margin-bottom: 1em; font-family: 'Nunito', sans-serif;">Hello, <%= @resource.first_name.capitalize %>!</h2>

      <p style="color: #1B1C1D; font-size: 12pt; font-weight: 400; margin-bottom: 0.5em;">Someone has requested a link to change your password. You can do this through the link below.</p>

      <p style="margin-bottom: 1.6em;"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: "color: #F86464; font-size: 12pt; font-weight: 400;" %></p>

      <p style="color: #1B1C1D; font-size: 12pt; font-weight: 400; margin-bottom: 0.5em;">If you didn't request this, please ignore this email.</p>

      <p style="color: #1B1C1D; font-size: 12pt; font-weight: 400; margin-bottom: 1.6em;">Your password won't change until you access the link above and create a new one.</p>

      <p style="color: #1B1C1D; font-size: 12pt; font-weight: bold; margin-bottom: 0.5em;">What's Cuukin?</p>

      <p style="color: #1B1C1D; font-size :12pt; font-weight: regular; margin-bottom: 0;"><%= link_to 'Cuukin', "www.cuukin.app", style: "color: #F86464; font-size: 12pt; font-weight: 400; text-decoration: none;" %> is the best way to learn how to cook. A structured, fun and rewarding journey to people's heart.</p>

      <p style="color: #1B1C1D; font-size :12pt; font-weight: regular; margin-bottom: 0;">xoxo,<br> Kin</p>

    </div>
  </div>
</body>
