<div class="currency-modal" id="beta-modal">
  <div class="currency-modal-content">
    <%= image_tag('btn-close-rounded.svg', class: 'currency-modal-close-btn', id: 'beta-close-btn') %>

    <div class="currency-text-content mt-5 text-center">
      <p class="currency-bold">Thank you for using Cuukin (beta)!</p>
      <p>Kin is working hard on the next update. Meanwhile, we would love if you can support us on <%= link_to "Patreon", "https://www.patreon.com/Cuukin", target: '_blank' %> to speed things up.</p>
      <p>Any feedback is also welcome at <%= link_to "contact@cuukin.app", "mailto:contact@cuukin.app" %></p>
    </div>

    <%= image_tag('kin-love.svg', class: 'currency-icon mt-3') %>
  </div>
</div>
