<div class="currency-modal" id="dishes-modal">
  <div class="currency-modal-content">
    <%= image_tag('btn-close-rounded.svg', class: 'currency-modal-close-btn', id: 'dishes-close-btn') %>

    <%= image_tag('nb-dish.svg', class: 'currency-icon') %>
    <h1 id="dish-h1">Dishes</h1>

    <div class="currency-text-content">
      <p class="currency-bold">Accumulated recipes you have learnt</p>
      <p>Shows you the number of <%= link_to "dishes you can now cook", completed_recipes_path %> based on the lessons you have taken</p>
      <p>Kin will be super proud to see a huge number here!</p>
    </div>
  </div>
</div>
