.form-devise {
  background: white;
  width: 100%;
  margin: auto;
  padding: 32px 24px;
  //box-shadow: 1px 1px 8px rgba(30,30,30,0.1);
  // box-shadow: 1px 1px 8px rgba(30,30,30,0.1);

  h2 {
    color: $dark-red;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .form-inputs {
    color: $dark-gray;
  }

  .devise-header {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    padding: 0 32px;
  }

  .wrapper-registration {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .wrapper-form {
    width: 450px;
  }

  .devise-img {
    max-width: 400px;
    height: auto;
    margin: 24px 0;
  }

  .form-control {
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 15px;
  }

  .form-group, .password, .required, .user_password {
    // margin: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .double-form-input {
    display: flex;
    justify-content: space-between;
  }

  p {
    color: $black;
  }
}

.devise-extra-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.devise-p {
  font-size: 16px;
  color: $cuukin;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

.social-btns {
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 32px;
    color: $gray;
    margin: 0 8px;
  }
}

.edit-user-main-container {
  .form-control {
    border-radius: 8px;
    // font-size: 16px;
    padding: 10px 15px;
  }
}

.form-devise-modal {
  // display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding: 80px 8px;
  z-index: 1000;
}

.form-devise-modal-content {
  background-color: $white;
  margin: auto;
  padding: 24px;
  max-width: 400px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, .16);
  margin: 0 auto;
}

.double-btn {
  display: flex;
  justify-content: space-between;

  a {
    width: 100%;
  }
}

@media (max-width: 400px) {
  /* For a screen < 540px, this CSS will be read */
  .form-devise {
    width: 100vw;
  }

  .form-devise-modal-content {
    width: 100%;
  }
}
