.user-level-options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .form-check {
    padding: 0;
  }

  .form-check-input {
    position: absolute;
    transform: scale(0);
  }

  .form-check-label {
    width: 100%;
    margin-bottom: 4px;
  }

  .form-check-input:checked + label {
    .level-title {
      -webkit-box-shadow:inset 0px 0px 0px 3px $cuukin;
      -moz-box-shadow:inset 0px 0px 0px 3px $cuukin;
      box-shadow:inset 0px 0px 0px 3px $cuukin;
    }
  }
}

.user-level-options {
  width: 45%;
  // margin: 0 2px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  cursor: pointer;

  img {
    width: 55px;
    height: 55px;
    margin-bottom: 8px;
  }

  .level-title {
    font-weight: 600;
    text-align: center;
    padding: 10px 15px;
    border-radius: 12px;
    margin: 0 auto 8px;
    -webkit-box-shadow:inset 0px 0px 0px 1px #AFAFAF;
    -moz-box-shadow:inset 0px 0px 0px 1px #AFAFAF;
    box-shadow:inset 0px 0px 0px 1px #AFAFAF;
  }

  .level-description {
    font-size: 14px;
    color: $dark-gray;
  }
}

#phoneContainer {
  h3 {
    font-weight: 300;
    margin-bottom: 32px;

    span {
      font-weight: 600;
    }
  }

  .form-group {
    margin-bottom: 32px;
  }

  .sidenote {
    color: $dark-gray;
  }
}


@media (max-width: 340px) {
  .user-level-options {
    width: 90%;
  }
}
