.password-holder {
  position: relative;
}

.toggle-password {
  //float: right;
  top: 12px;
  right: 12px;
  position: absolute;
  z-index: 2;
  color: gray;
}

.toggle-password-reg-edit {
  top: 44px;
}
