.terms-of-service {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  i {
    margin-right: 4px;
    color: $cuukin;
  }

  p {
    margin: 0;
  }

  span {
    color: $cuukin;
    cursor: pointer;
  }
}

.terms-of-service-container {
  max-width: 500px;
  margin: 0 auto;

  img {
    cursor: pointer;
  }
}

#termsOfService {
  background-color: $white;

  h1 {
    text-align: center;
    color: $cuukin;
    margin-bottom: 16px;
  }

  .btn-back {
    position: fixed;
    height: 42px;
  }

  .terms-service-content {
    margin-top: 32px;

    span {
      font-weight: 800;
    }
  }
}
