.edit-commitment-container, .unblock-lesson-form-inputs, .lesson-validation-recipes-container {
  .form-check {
    padding: 0;
  }
  .form-check-input {
    position: absolute;
    transform: scale(0);
  }
  .form-check-input + label {
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 12px;
    width: 100%;
    background-color: transparent;
    -webkit-box-shadow:inset 0px 0px 0px 1px #AFAFAF;
    -moz-box-shadow:inset 0px 0px 0px 1px #AFAFAF;
    box-shadow:inset 0px 0px 0px 1px #AFAFAF;
    margin-top: 8px;
  }
  .form-check-input:checked + label {
    color: $white;
    background-color: $cuukin;
    -webkit-box-shadow:inset 0px 0px 0px 3px $dark-red;
    -moz-box-shadow:inset 0px 0px 0px 3px $dark-red;
    box-shadow:inset 0px 0px 0px 3px $dark-red;
  }

  h3 {
    margin-bottom: 12px;
  }
}

// .user_weekly_commitment {
//   margin-bottom: 0 !important;
// }

.user_email_nudges {
  .form-check {
    padding-left: 0 !important;
  }
}

.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.toggle:checked + label::before {
  background-color: $cuukin;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle:checked + label::after {
  left: 18px;
}

// Weekly Commitment - Get Started Page

.commitment-container {
  width: 500px;
  margin: 0 auto;
  padding: 40px 16px;
  text-align: center;

  h3 {
    margin-bottom: 16px;
    font-size: 20px;
  }

  .skip-btn {
    cursor: pointer;
    color: $cuukin;
    margin: 12px auto 0;
    padding: 0 !important;
    border: 0 !important;
    &:hover, &:active {
      opacity: .8;
    }
  }

  .commitment-message {
    font-size: 14px;
    margin: 10px auto 0;
    color: $dark-gray;
    font-style: italic;
  }
}

.commitment-progress-bar {
  width: 60px;
  margin: 20px auto 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: $dark-gray;
  }
  .circle-disabled {
    background-color: $light-gray;
  }
}

.edit-diet-container {
  .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .form-check {
    padding: 0 4px;
    width: 50%;
  }
  .form-check-input {
    position: absolute;
    transform: scale(0);
  }
  .form-check-input + label {
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 12px;
    width: 100%;
    background-color: transparent;
    -webkit-box-shadow:inset 0px 0px 0px 1px #AFAFAF;
    -moz-box-shadow:inset 0px 0px 0px 1px #AFAFAF;
    box-shadow:inset 0px 0px 0px 1px #AFAFAF;
    margin-top: 8px;
  }
  .form-check-input:checked + label {
    color: $white;
    background-color: $cuukin;
    -webkit-box-shadow:inset 0px 0px 0px 3px $dark-red;
    -moz-box-shadow:inset 0px 0px 0px 3px $dark-red;
    box-shadow:inset 0px 0px 0px 3px $dark-red;
  }

  h3 {
    margin-bottom: 16px;
  }
}

#commitmentContainer {
  p {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 16px;
  }
}

@media (max-width: 500px) {
  /* For a screen < 720px, this CSS will be read */
  .commitment-container {
    width: 100vw;
  }
}

@media (max-width: 344px) {
  /* For a screen < 720px, this CSS will be read */
  .edit-diet-container {
    .form-check {
      width: 100%;
    }
  }
}
